@*@model IEnumerable<WebApplication4.Models>*@

@Scripts.Render("~/Scripts/MyScripts/CrearDesafio.js")


<input type="button" value="Create" onclick="AddDesafio()" />

<div id="addDiv" style="display:none">
    @Html.Partial("~/Views/Home/MyPartialViews/_AddDesafio.cshtml", new WebApplication4.Models.Desafio())
</div>

@*@{
        ViewBag.Title = "WebGrid CRUD Operations";
        WebGrid grid = new WebGrid(rowsPerPage: 10);
        grid.Bind(Model, autoSortAndPage: false, rowCount: 10);
    }*@
<div class="modal-body">
    <div class="alert alert-warning">

    </div>

    <h3>Admin</h3>

    @*@{
            ViewBag.Title = "WebGrid Example";
            var grid = new WebGrid(source: Model);
        }
        @grid.GetHtml();*@

    <table class="table">
        <tr>
            <th>
                ID
                @*@Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })*@
            </th>
            <th>
                Nombre
            </th>
            <th>
                @*@Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })*@
            </th>
            <th></th>
        </tr>


    </table>



</div>