<p>INGLES GENERAL</p>
<p>En englishasap podés comenzar con tus clases en cualquier momento del año.&nbsp;Diseñamos tu curso a medida.&nbsp;Nos especializamos en clases individuales para adolescentes y adultos. Nuestro objetivo es pulir lo que ya sabés para seguir aprendiendo sobre una base sólida.&nbsp;</p>


<p>INGLES PARA TURISTAS</p>
<p>Orientado para todos aquellos que estén por viajar y quieran adquirir conocimientos básicos para desenvolverse en el aeropuerto, en el shopping y en el restaurant. Podrás entablar conversaciones casuales y no depender de que hablen español en cada lugar donde vayas</p>

<p>CLASES DE CONVERSACION</p>
<p>Curso individual de conversación. Este curso está orientado a alumnos con un nivel upper-intermediate.&nbsp;Partiendo de tópicos que son de interés del alumno, se proponen ejercicios (escuchamos podcasts, miramos videos y leemos artículos)&nbsp;para practicar y mejorar la pronunciación, la fluidez, el oído y por supuesto la gramática.&nbsp;</p>

<p>Curso individual de Inglés aeronáutico para controladores aéreos, pilotos y TCPs.</p>
<p>Preparamos a controladores aéreos y pilotos para rendir el examen de OACI y alcanzar el Operacional 4. Nuestra profesora trabajó para la ANAC dando cursos de inglés aeronáutico a controladores aéreos.</p>



