@*<div class="row">
        <div class="col-lg-12 text-center">
            <h2>Portfolio</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/img/portfolio/cabin.png" class="img-responsive" alt="" />
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/img/portfolio/cake.png" class="img-responsive" alt="" />
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/img/portfolio/circus.png" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/img/portfolio/game.png" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/img/portfolio/safe.png" class="img-responsive" alt="">
            </a>
        </div>
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/img/portfolio/submarine.png" class="img-responsive" alt="">
            </a>
        </div>
    </div>*@
<div class="container">
    <div class="row">

        <div class="col-lg-6">
            <p style="font-size: 18px; "><span style="font-weight:bold;"><span>Nuestra aula cuenta con:</span></span></p>

            <ul>
                <li>
                    <p style="font-size: 16px; "><span style="font-size:16px;"><span>Apple Macbook</span></span></p>
                </li>
                <li>
                    <p style="font-size: 16px; "><span style="font-size:16px;"><span>Apple TV</span></span></p>
                </li>
                <li>
                    <p style="font-size: 16px; "><span style="font-size:16px;"><span>iPad</span></span></p>
                </li>
                <li>
                    <p style="font-size: 16px; "><span style="font-size:16px;"><span>Impresora</span></span></p>
                </li>
                <li>
                    <p style="font-size: 16px; "><span style="font-size:16px;"><span>Pizarron para marcadores.</span></span></p>
                </li>
                <li>
                    <p style="font-size: 16px; "><span style="font-size:16px;"><span>Artículos de librería a disposicion de los alumnos (lápices, biromes, gomas, marcadores, fibras, etc)</span></span></p>
                </li>
                <li>
                    <p style="font-size: 16px; "><span style="font-size:16px;"><span>Amplia variedad de diccionarios.</span></span></p>
                </li>
                <li>
                    <p style="font-size: 16px; "><span style="font-size:16px;"><font class="Apple-style-span">Biblioteca comunitaria con libros de lectura.</font></span></p>
                </li>
                <li>
                    <p style="font-size: 16px; "><span style="font-size:16px;"><font class="Apple-style-span">Calefacción central y aire acondicionado.</font></span></p>
                </li>
                <li>
                    <p style="font-size: 16px; "><span style="font-size:16px;">Wi-Fi</span></p>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h1>slide</h1>
        </div>
    </div>
</div>